<!-- Formulario para crear productos -->
<form [formGroup]="CreateProductForm">
  <div class="container-form">

    <div class="rows">
      <mat-form-field>
        <mat-label>Nombre del producto</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
            {{ categoria.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Precio</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price" />
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    </div>

    <div class="rows">
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-slide-toggle formControlName="availability">
        ¿Disponible?
      </mat-slide-toggle>
    </div>
  </div>
  <div class="container-btn">
    <button class="clear-btn" (click)="this.CreateProductForm.reset()">limpiar</button>
    <button class="save-btn" [disabled]="!CreateProductForm.valid" (click)="openDialog()">Crear</button>
  </div>
</form>

<!-- Dialogo para validar creacion -->
<ng-template #dialogTemplate>
  <h2 mat-dialog-title>{{ 'Validación' }}</h2>
  <mat-dialog-content class="mat-typography">
    <p>¿Esta seguro de crear este producto?</p>
    <div class="container-btn">
      <button class="clear-btn" mat-dialog-close>Cerrar</button>
      <button class="save-btn" [disabled]="!CreateProductForm.valid" (click)="createProducts()">Guardar</button>
    </div>
  </mat-dialog-content>
</ng-template>
